body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7F6FF;
}

* {
  font-family: "Inter", system-ui;
}

.wrapper {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

header {
  border-bottom: 1px solid #EAEAEA;
  
  img {
    margin-right: 15px;
  }

  h2,
  p {
    margin: 0;
  }
}

.card {
  border: 1px solid #f3f3f3;
  padding: 20px;
  width: 220px;
  border-radius: 40px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.06);
    transform: translateY(-5px);
  }

  .h3 {
    font-weight: 400;
    font-size: 14px;
  }

  .b {
    font-size: 13px;
  }

}

.card__favorite {
  position: absolute;
  cursor: pointer;
}

.card__button {
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}



.card__price {
  font-size: 13px;
  opacity: 0.5;
  text-transform: uppercase;
}



.search {
  border: 1px solid #F3F3F3;
  border-radius: 10px;
  padding: 0 15px;
}

input {
  border: 0;
  padding: 13px;
  font-size: 16px;
  width: 200px;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.drawer {
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background: #FFF;
  box-sizing: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;

  h2 {
    margin: 0;
  }
}

.cart__block {

  ul {
    display: block;
    margin-bottom: 40px !important;
  }

  li {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
  }

  div {
    flex: 1;
    height: 1px;
    border-bottom: 1px dashed #DFDFDF;
    position: relative;
    top: -4px;
    margin: 0 7px;
  }
 
  .green__button {
    position: relative;
    &:hover {
      img {
        transform: translateX(5px);
      }
    }

    img {
      position: absolute;
      right: 30px;
      top: 20px;
      transition: transform 0.15s ease-in-out;
    }
  }
}

.green__button {
  width: 100%;
  height: 55px;
  background: #9DD558;
  border: 0;
  border-radius: 18px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  transition: background 0.1s ease-in-out;

  &:hover {
    background: lighten($color: #9DD558, $amount: 5%);
  }

  &:active {
    background: darken($color: #9DD558, $amount: 5%);
  }
}

.cart__item {
  border: 1px solid #F3F3F3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  
  .cart__image {
    height: 70px;
    width: 70px;
    background-size: contain;
    background-position: 0 -3px;
    background-repeat: no-repeat;
    margin-right: 20px;
  }

  p {
    font-size: 16px;
    margin: 0;
  }

  b {
    font-size: 14px;
  }

  .button__remove {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;
  
    &:hover {
      opacity: 1;
    }
  }
}

.items {
  flex: 1;
  overflow: auto;
  margin-bottom: 40px;
}
