body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7F6FF;
}

* {
  font-family: "Inter", system-ui;
}

.wrapper {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

header {
  border-bottom: 1px solid #EAEAEA;
  
  img {
    margin-right: 15px;
  }

  h2,
  p {
    margin: 0;
  }
}

.cartEmpty {
  text-align: center;

  p {
    width: 280px;
    line-height: 24px;
  }

  .greenButton {
    width: 245px;
    margin-top: 20px;

    &:hover {
      img {
        transform: rotate(180deg) translateX(3px);
      }
    }

    img {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transition: transform 0.15s ease-in-out;
    }
  }
}

.card__price {
  font-size: 13px;
  opacity: 0.5;
  text-transform: uppercase;
}

.search {
  border: 1px solid #F3F3F3;
  border-radius: 10px;
  padding: 0 15px;
  position: relative;

  .clear {
    position: absolute;
    right: 15px;
    width: 18px;
    height: 18px;
    top: 14px;
  }

  input {
    border: 0;
    padding: 13px;
    font-size: 16px;
    width: 200px;
  }
}

.cart__block {
  ul {
    display: block;
    margin-bottom: 40px !important;
  }

  li {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
  }

  div {
    flex: 1;
    height: 1px;
    border-bottom: 1px dashed #DFDFDF;
    position: relative;
    top: -4px;
    margin: 0 7px;
  }
 
  .greenButton {
    position: relative;

    &:disabled {
      animation: button-loading 0.6s ease-in-out infinite;
    }

    &:hover {
      img {
        transform: translateX(5px);
      }
    }

    img {
      position: absolute;
      right: 30px;
      top: 20px;
      transition: transform 0.15s ease-in-out;
    }
  }
}

.greenButton {
  width: 100%;
  height: 55px;
  background: #9DD558;
  border: 0;
  border-radius: 18px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  transition: background 0.1s ease-in-out;

  &:disabled {
    background-color: #bebebe !important;
    cursor: default;
   }

  &:hover {
    background: lighten($color: #9DD558, $amount: 5%);
  }

  &:active {
    background: darken($color: #9DD558, $amount: 5%);
  }
}

.cart__item {
  border: 1px solid #F3F3F3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  
  .cart__image {
    height: 70px;
    width: 70px;
    background-size: contain;
    background-position: 0 -3px;
    background-repeat: no-repeat;
    margin-right: 20px;
  }

  p {
    font-size: 16px;
    margin: 0;
  }

  b {
    font-size: 14px;
  }

  .button__remove {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;
  
    &:hover {
      opacity: 1;
    }
  }
}

.items {
  flex: 1;
  overflow: auto;
  margin-bottom: 40px;
}

@keyframes button-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}